.heading1 nav{
    height: 20vmin;
    width: 100vw;
}
img{
    height: 3vmin;
    width: 3vmin;
}
#logo{
    height: 3vmin;
    width: 3vmin;
}
nav ul li{
    display: inline;
    overflow: hidden;
}